* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.gallery__list {
  display: flex;
  padding: 30px;
}
.images-list__item:not(:last-child) {
  margin-right: 30px;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  text-align: center;
  justify-content: center;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
